<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OnlineAuction</display-name>
  <servlet>
    <servlet-name>registration</servlet-name>
    <servlet-class>auction.Registration </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/RegServlet </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>log</servlet-name>
    <servlet-class>auction.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellerReg</servlet-name>
    <servlet-class>auction.SellerRegistation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerReg</servlet-name>
    <url-pattern>/SellerReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellerLog</servlet-name>
    <servlet-class>auction.SellerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerLog</servlet-name>
    <url-pattern>/SellerLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewitem</servlet-name>
    <servlet-class>auction.ViewItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewitem</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewitem2</servlet-name>
    <servlet-class>auction.ViewItems2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewitem2</servlet-name>
    <url-pattern>/view2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewselleritem</servlet-name>
    <servlet-class>auction.ViewSellerItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewselleritem</servlet-name>
    <url-pattern>/viewsell</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewselleritem2</servlet-name>
    <servlet-class>auction.ViewSellerItem2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewselleritem2</servlet-name>
    <url-pattern>/viewsell2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewWin</servlet-name>
    <servlet-class>auction.ItemWinnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewWin</servlet-name>
    <url-pattern>/viewWinner</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userWin</servlet-name>
    <servlet-class>auction.UserWinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userWin</servlet-name>
    <url-pattern>/userWins</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>auction.InsertItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/InsertItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>placebid</servlet-name>
    <servlet-class>auction.Placebids</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>placebid</servlet-name>
    <url-pattern>/bid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>auction.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout2</servlet-name>
    <servlet-class>auction.LogoutServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout2</servlet-name>
    <url-pattern>/LogoutServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteItem</servlet-name>
    <servlet-class>auction.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteItem</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatesellerItem</servlet-name>
    <servlet-class>auction.UpdateItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatesellerItem</servlet-name>
    <url-pattern>/updateItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateSeller</servlet-name>
    <servlet-class>auction.UpdateSellerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateSeller</servlet-name>
    <url-pattern>/updateSellerDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>updateUser</servlet-name>
  	<servlet-class>auction.UpdateUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>updateUser</servlet-name>
  <url-pattern>/updateUserDetails</url-pattern>
  </servlet-mapping>
</web-app>